#group-index {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.my-groups {
  grid-column: 1;
}

.my-groups-right {
  grid-column: 2;
}

.new-group, .join-group {
  border: 1px solid $rose;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  background-color: $pastel;
  box-shadow: 2px 2px 2px rgba($rose, 0.2);
  transition: 0.3s;

  h3 {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: $rose;
    color: white;
  }
}
