.results-contenu  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  a {
    text-decoration: none !important;
    color: black;
  }
}

.result-type {
  position: absolute;
  right: 50px;
  bottom: 25px;
}
