#results {
  margin: 0 10vh 50px 10vh;
}

.results-contenu  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  // position: relative;

  a {
    text-decoration: none !important;
    color: black;
  }
}

.result-type {
  position: absolute;
  right: 50px;
  bottom: 25px;
}
