<%# <div class="card-group" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= group.image.url %>
<div class="card-group">
  <%= link_to group.name, group_path(group) %>
</div>
