<h2><%= @group.name %></h2>
<%= @group.users.size %> personnes dans ce groupe :
<% @group.users.each do |user| %>
<%= user.username %>
<% end %>
<h3>Quitter ce groupe</h3>
<%= link_to "Quitter ce groupe", subscription_path(Subscription.find_by(user: current_user, group: @group)), data: { turbo_method: :delete, turbo_confirm: "Confirmez-vous vouloir quitter le groupe #{@group.name} ?"} %>
