<div data-controller="searchbar">
  <%= form_with url: '/results', method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    placeholder: "Je recommande un film",
    id: "searchbar",
    class: "",
    data: { action: "focus->searchbar#addActive" } %>
  <% end %>
</div>
