<div class="banner" style="background-image: url(<%= image_path("videoproj.jpg") %>)">
  <div class="contenu">
    <h1>CornFlicks</h1>
    <p>Des films à déguster, des goûts à partager !</p>
    <%= render 'shared/searchbar' %>
  </div>
</div>

<div class="contenu">
<%#= render 'results' %>

<h3>Les films populaires cette semaine</h3>
<ul>
  <% @popular_movies.each do |movie| %>
    <li><%= movie['title'] %></li>
  <% end %>
</ul>

<h3 id="top-tv">Les séries populaires cette semaine</h3>
<ul>
  <% @popular_tv.each do |tv| %>
    <li><%= tv['name'] %></li>
  <% end %>
</ul>

</div>
